# --------------------------
# RStudio / R environment
# --------------------------
.Rproj.user
.Rhistory
.RData
.Ruserdata

# --------------------------
# System / OS files
# --------------------------
.DS_Store
Thumbs.db
desktop.ini

# --------------------------
# Cache and temporary files
# --------------------------
*_cache/
_cache/
*.knit.md
*.utf8.md
*.log
*.tmp
*.bak

# --------------------------
# Local data and cache folders
# --------------------------
data/
rosm.cache/

# --------------------------
# Quarto / Markdown builds
# --------------------------
docs/*_files/

# --------------------------
# High-resolution figures
# --------------------------
figures_tiff/*.tiff



